.container{
    background: #EDF1FF;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.innerContainer{
    width: 80%;
    padding-left: 0.8rem;
}

.welcomeHead{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.welcomeHead h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.buttons{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 512px;
    height: 46px;
    border-radius: 5px;
}
.buttons button{
    align-items: center;
    padding: 12px 16px;
    border-radius: 5px;
    width: 130px;
    height: 46px;
    background: #FFFFFF;
    border: 0px;
}
.buttons button:hover{
    background: #4C6FFF;
    color: #FFFFFF;
}
.buttons .transact{
    background: #4C6FFF;
    border-radius: 5px;
    padding: 16px 26px;
    margin-left: -15px;
    color: #FFFFFF;
}
.boxes{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}
.boxes p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #292D32;
    padding-top: 2px;
}
.boxes h2{
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #383737;
    padding-top: 1rem;
}
.box{
    width: 190px;
    height: 104px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 1rem;
}
.boxHead{
    display: flex;
    padding-top: 1rem;
}
.boxHead>img{
    padding-right: 0.5rem;
}


.liveHead{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.heading th{
    width: 175.33px;
    height: 54px;
    background: #EDF1FF;
    text-align: left;
    padding-left: 20px;
}
table td{
    width: 175.33px;
    height: 51px;
    background: #F7FAFC;
    padding-left: 20px;
}
table{
    background: #FFFFFF;
    padding: 0px 30px;
    border-radius: 10px;
}

table .approved{
    width: 66px;
    height: 19px;
    padding: 4px 16px;
    background-color: #C3F1CA;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #3DD154;
    align-items: center;
}
table .failed{
    align-items: center;
    padding: 4px 27px; 
    background: #FCE8E8;
    border-radius: 5px;
    width: 41px;
    height: 19px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #DC1D1D;
}
.distribution{
    padding-top: 3rem;
}
.distribution h3{
    padding-bottom: 1rem;
}
.chart{
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.chartImg>img{
    width: 100%;
}
.chartText{
    text-align: right;
    padding: 1.5rem;
}
.chartBelow{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding-bottom: 2rem;
}
.comment{
    display: flex;
}
.circle{
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
}
.circle p{
    padding-left: 0.5rem;
}
.chartBelow .chartButton button{
    width: 108px;
    height: 46px;
    background: #4C6FFF;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}
.circle1{
    width: 21px;
    height: 19px;
    background: #3DD154;
    border-radius: 10px;
}
.circle2{
    width: 21px;
    height: 19px;
    background: #E34A4A;
    border-radius: 10px;
}

.failure{
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.failure h3{
    width: 233px;
    height: 33px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #1D242D;
    margin-bottom: 1rem;
}
.contain{
    display: flex;
    justify-content: space-between;
}
.class{
    background: #FFFFFF;
    width: 49%;
    border-radius: 10px;
    padding: 1rem;
}
.class h4{
    width: 159px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1D242D;
}
.allText1{
    display: flex;
    padding: 1rem 0rem;
}
.allText2{
    display: flex;
}
.acquire{
        display: flex;
        padding-right: 1rem;
}
.acquire p{
    padding-left: 0.5rem;
    width: 115px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #1D242D;
}
.redCircle{
    width: 14px;
    height: 14px;
    background: #DC1D1D;
    border-radius: 10px;
}
.blueCircle{
    width: 14px;
    height: 14px;
    background: #4C6FFF;
    border-radius: 10px;
}
.purpleCircle{
    width: 14px;
    height: 14px;
    background: #B81FDE;
    border-radius: 10px;
}
.orangeCircle{
    width: 14px;
    height: 14px;
    background: #FF6934;
    border-radius: 10px;
}
.greenCircle{
    width: 14px;
    height: 14px;
    background: #3DD154;
    border-radius: 10px;
}
.classImage{
    padding-top: 3rem;
    text-align: center;
}
.progressBar{
    margin-top: 2rem;
}
.barWrap{
    display: flex;
    padding-bottom: 1rem;
}
.bar1a{
    width: 115px;
    height: 8px;
    background: #4C6FFF;
    border-radius: 10px;
    position: relative;
    margin-right: -115px;
}
.bar2{
    width: 180px;
    height: 8px;
    background: #F7F7F7;
    border-radius: 10px;
}
.percent p{
    margin-top: -7px;
    padding-left: 1rem;
}
.bar1b{
    width: 92px;
    height: 8px;
    background: #DC1D1D;
    border-radius: 10px;
    position: relative;
    margin-right: -92px;
}
.bar1c{
    width: 50px;
    height: 8px;
    background: #66CB9F;
    border-radius: 10px;
    position: relative;
    margin-right: -50px;
}
.bar1d{
    width: 33px;
    height: 8px;
    background: #B81FDE;
    border-radius: 10px;
    position: relative;
    margin-right: -33px;
}
.bar1e{
    width: 21px;
    height: 8px;
    background: #FF6934;
    border-radius: 10px;
    position: relative;
    margin-right: -21px;
}
.cardholder{
    background: #FFFFFF;
    width: 49%;
    border-radius: 10px;
    padding: 1rem;
}
.cardholder h2{
    width: 101px;
    height: 44px;
    left: 32px;
    top: 32px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #1D242D;
    padding-bottom: 1rem;
}
.cardholder h4{
    width: 265px;
    height: 22px;
    left: 32px;
    top: 81px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1D242D;
}
.cardButtons{
    display: flex;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.cardButtons button{
    align-items: center;
    padding: 3px 7px;
    border-radius: 5px;
    width: 76px;
    height: 40px;
    border: 0px;
    background: #EBEEF2;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1rem;
    cursor: pointer;
}
.cardButtons button:hover{
    background: #4C6FFF;
    color: #FFFFFF;
    border: 1px solid #4C6FFF;
}
.blueBtn button{
    align-items: center;
    background: #4C6FFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px 8px;
    width: 80px;
    height: 40px;
    margin-right: 1rem;
}
.cardlist{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.cardlist1 ul{
    list-style-type: none;
}
.cardlist ul li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #1D242D;
    padding-bottom: 1rem;
}
.cardlist1 ul li::before {
    content: "\2022"; 
    color: #4C6FFF;
    font-weight: bold;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 0.5rem;
  }
.cardlist2 ul{
    list-style-type: none;
    margin-left: -3rem;
}


@media screen and (max-width: 1024px){
    .welcomeHead2{
        margin-right: 5px;
    }
    .boxes p{
        font-size: 12px;
    }
    .box{
        padding-left: 0.5rem;
        margin-left: 0.5rem;
    }
    .boxHead>img{
        padding-right: 0.5rem;
        width: 15%;
    }
    .liveImg{
        margin-right: 3px;
    } 
    table td{
        font-size: 14px;
        padding-left: 18px;
    }
    .heading th{
        font-size: 14px;        
        padding-left: 1px;
        text-align: center;
    }
    .acquire{
        padding-right: 0.1rem;
    }
    .acquire p{
        font-size: 12px;
    }
    .cardButtons button{
        padding: 2px 7px;
        width: 70px;
        font-size: 12px;
        margin-right: 0.5rem;
    }

}
@media screen and (max-width: 768px){
    .innerContainer{
        width: 82%;
        padding-left: 0.8rem;
    }
    .welcomeHead h3{
        font-size: 15px;
    }
    .welcomeHead h1{
        font-size: 22px;
    }
    .welcomeHead2{
        margin-right: 45px;
    }
    .welcomeHead2 h3>img{
        width: 22px;
        height: 22px;
        margin-top: 5px;
        margin-left: 2px;
    }
    .buttons{
        width: 505px;
        margin-left: -8px;
    }
    .buttons button{
        padding: 12px 12px;
        width: 120px;
    }
    .buttons button:hover{
        background: #4C6FFF;
        color: #FFFFFF;
    }
    .buttons .transact{
        padding: 14px 20px;
        margin-left: -8px;
    }
    .boxes p{
        font-size: 11px;
        margin-left: 0.5rem;
    }
    .boxes h2{
        font-size: 17px;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    .box{
        width: 140px;
        height: 104px;
        padding-left: 0.2rem;
        margin-left: 0.5rem;
    }
    .boxes{
        margin-left: -8px;
        width: 92%;
    }
    .liveImg{
        margin-right: 58px;
    }
    .liveMonitor{
        width: 93%;
    }
    table{
        margin-left: -2px;        
        padding: 0px 4px;
    }
    table td{
        font-size: 11px;
        padding-left: 11px;
        width: 195px;
        align-items: center;
    }
    .heading th{
        font-size: 11px;        
        padding-left: 1px;
        text-align: center;
        width: 205px;
    }
    table .approved{
        width: 50px;
        height: 19px;
        padding: 4px 11px;
        font-size: 11px;
    }
    table .failed{
        align-items: center;
        padding: 4px 18px;
        width: 37px;
        height: 19px;
        font-size: 11px;
    }
    .distribution{
        width: 96%;
    }
    .contain{
        flex-direction: column;
    }
    .allText1{
        padding: 1rem 0rem;
        width: 90%;

    }
    .acquire{
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .acquire p{
        font-size: 15px;
        padding-left: 0.5rem;
        width: 155px;
    }
    .class{
        width: 90%;
    }
    .cardholder{
        width: 90%;
        margin-top: 20px;
    }
    .cardButtons button{
        padding: 3px 9px;
        width: 78px;
    }
    .blueBtn button{
        padding: 3px 10px 3px 8px;
        text-align: center;
        width: 82px;
    }
    .cardButtons{
        width: 90%;
    }
    .chartImg>img{
        width: 90%;
    }
}

@media screen and (max-width: 425px){
    .innerContainer{
        width: 80%;
        padding-left: 0.2rem;
    }
    .welcomeHead2{
        margin-right: -75px;
        margin-top: 9px;

    }
    .welcomeHead2 h3>img{
        width: 22px;
        height: 22px;
        margin-top: 1px;
        margin-left: -10px;
    }
    .buttons{
        width: 395px;
        margin-left: 0px;
    }
    .buttons button{
        padding: 10px 10px;
        width: 90px;
    }
    .buttons .transact{
        padding: 14px 8px;
    }
    .box{
        width: 120px;
        height: 134px;
        padding-left: 0.2rem;
        margin-left: 0.5rem;
    }
    .boxHead{
        flex-direction: column;
        padding-top: 1rem;
    }
    .boxHead div>img{
        padding-right: 1rem;
    }
    .boxes p{
        font-size: 12px;
        padding-right: 0.2rem;
    }
    .distribution{
        width: 130%;
        display: block;
    }
    .chartImg>img{
        width: 100%;
    }
    .chart{
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 0.5rem;
    }
    .circle p{
        padding-left: 0.5rem;
        font-size: 12px;
    }
    .chartBelow .chartButton button{
        width: 90px;
        height: 40px;
        font-size: 12px;
    }
    .class{
        width: 130%;
    }
    .allText1{
        width: 80%;
    }
    .allText2{
        width: 80%;
    }

    .cardholder{
        width: 130%;
        display: block;
        margin-top: 20px;
    }
    .acquire{
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .acquire p{
        font-size: 12px;
        padding-left: 0.3rem;
        width: 115px;
    }
}