.header{
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.05);
}
.inner{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.logo>img{
    padding-right: 1.5rem;
}
.logo input{
    margin-left: 1rem;
    position: absolute;
    width: 440px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding-left: 2rem;
    background: url(../../Assets/search-normal.png);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    border-width: 1px;
}
::-webkit-input-placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: rgba(29, 36, 45, 0.5);
    padding-right: 2rem;
}

.icons{
    display: flex;
    justify-content: space-between;
}
.icons>img{
    padding-left: 1.5rem;
}

.bell>img{
    padding-right: 0.7rem;
    margin-top: 0.6rem;
}